* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: white;
}
section {
  padding: 30px;
}
h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: 85px;
}
h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
}
h4 {
  color: #f5cc46;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
h5 {
  font-family: "Urbanist", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}
p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* black header start */
header {
  display: flex;
  flex-direction: column;
}

.black-bg {
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
}
.email-location {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
  margin: auto;
}
.email-location div {
  display: flex;
  gap: 5px;
}
.icons {
  margin: auto;
  height: 100%;
  align-items: center;
  display: flex;
  gap: 10px;
  text-align: right;
  font-size: 15px;
}

/* black header closed */

/* hero section start */
.hero {
  display: flex;
  margin: auto;
  height: 100vh;

  align-items: center;
}
.hero .text {
  width: 50%;
}
.hero .text button {
  margin-top: 20px;
  background-color: #f5cc46;
  display: inline-flex;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  /* button text style */
  color: #fff;

  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.hero .hero-iamge {
  width: 50%;
}

.hero .hero-iamge img {
  justify-content: right;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("resources/Masks/Group\ 2\ \(1\).png"); /* For WebKit browsers */
  mask-image: url("resources/Masks/Group\ 2\ \(1\).png"); /* Standard property */
  -webkit-mask-size: cover; /* For WebKit browsers */
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* hero 2 */

.hero-ii {
  display: flex;
  gap: 100px;
}
.image-hero-ii {
  padding-top: 100px;
  width: 80%;
}

.bg-image-div-hero-ii {
  background-image: url("resources/Images/0f219ef4e94eac41f45659320dcfa407.jpeg");
  background-position: center;
  width: 470px;
  height: 420px;
}

.text-side {
  width: 20%;
  background: #f5cc46;
  padding: 30px;
  width: 370px;
  height: 240px;
  margin-top: -540px;
  margin-left: 160px;
}
.text-side h2 {
  font-size: 72px;
  font-weight: 700;
}
.hero-ii-text-side button a {
  color: black;
}
.hero-ii-text-side button {
  color: black;
  margin-top: 20px;
  background-color: #f5cc46;
  display: inline-flex;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  /* button text style */
  color: #fff;

  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
